<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>مصروفات البناء</string>
    <key>NSCameraUsageDescription</key>
    <string>يحتاج التطبيق إلى الكاميرا لتصوير فواتير ومستندات المدفوعات.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>يحتاج التطبيق إلى مكتبة الصور لإرفاق صور الفواتير والمستندات.</string>
    <key>UILaunchScreen</key>
    <dict/>
</dict>
</plist>
